.invdiv {
    background-color: rgb(57, 57, 57);
    border-radius: 15px;
    height: max-content;
    padding: 40px;
}

.ant-select .ant-select-arrow {
    color: rgb(255, 255, 255);
}

.ant-select-dropdown .ant-select-item-option-content {
    color: black;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-select-single.ant-select-lg.ant-select-open .ant-select-selection-item {
    color: black;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #1f1f1f;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-input::placeholder {
    color: rgb(255, 255, 255);
}

.ant-input-outlined {
    background-color: #1f1f1f;

}

;

:where(.css-dev-only-do-not-override-mzwlov).ant-picker .ant-picker-clear:hover {
    color: white;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-picker .ant-picker-clear:hover {
    color: white;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-input-outlined:hover {
    border-color: #4096ff;
    background-color: #313131;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-mzwlov).ant-input-outlined:focus-within {
    border-color: #41855b;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
    color: white;
    background-color: #1f1f1f;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-select-single.ant-select-lg.ant-select-open .ant-select-selection-item {
    color: rgb(255, 255, 255);
}

:where(.css-dev-only-do-not-override-mzwlov).ant-select-single.ant-select-lg.ant-select-open .ant-select-selection-item {
    color: #878787;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-picker-outlined {
    background: #1f1f1f;
    border-width: 1px;
    border-style: solid;
    color: white;
    border-color: #d9d9d9;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-picker .ant-picker-input>input::placeholder {
    text-overflow: ellipsis;

    color: white;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-picker .ant-picker-suffix {
    color: white;
}


.geninvbtn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: #007d0c;
    margin-top: 10px;
    margin-left: 20px;
}
.ant-input-outlined {
    color: #ffffff;
}
.ant-input-outlined::placeholder {
    color: #ffffff;
}

:where(.css-mzwlov).ant-input-outlined:hover {
    border-color: #008a24;
    background-color: #1f1f1f;
}
:where(.css-dev-only-do-not-override-mzwlov).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-mzwlov).ant-input-outlined:focus-within {
    border-color: #41855b;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
    color: white;
    background-color: #1f1f1f;
}
:where(.css-mzwlov).ant-table-wrapper .ant-table-filter-trigger:hover {
    color: rgb(26, 255, 0);
    background: rgba(0, 0, 0, 0.06);
}